body {
  font-family: 'nanum-gothic', sans-serif;
}

nav{
  width:100%;
  height: 70px;
  opacity: 0.9;
}
nav.bg-dark{
  background: #0292D8 !important;
}
nav a{
  color: white;
  font-size: 15px !important;
  padding: 5px 10px !important;
}


.navbar-brand img{
  width:150px;
}

#main{
  width:100%;
  height: 768px;
  background-image: url("../img/pc_title.jpg");
  background-size: cover;
  position: relative;  
}
#main h1{
  position: absolute;
  top:250px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
#main h1 div:nth-child(1){
  font-size: 60px;
  font-weight:900 !important;
}
#main h1 div:nth-child(2){
  font-size: 20px;
  margin-top: 20px;
  font-weight: lighter;
}
#main h1 .btn{
  background: black;
  color:white;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;

}
#partner{
  padding-top: 70px;
  padding-bottom: 70px;
}
#partner img{
  width: 100%;
}
#partner h6{
  font-weight: bold;
  margin-top: 10px;
}
#partner .col-sm-4{
  line-height: 30px;
}

#partner .col-sm-4 div{
  font-size: 16px;
  color: gray;
}


#delivery .row,
#new .row
{
  display:inline-block !important;
  font-size: 17px;
  margin: 10px 0;
}
#delivery .col-sm-6 img,
#new .col-sm-6 video
{
  width: 100%;
  font-size: 17px;
  margin: 10px 0;
}
#delivery .row:not(:nth-of-type(2)) .col-sm-6,
#new .row:not(:nth-of-type(2)) .col-sm-6
{
  float: right !important;  
}
#delivery .row:nth-of-type(2) .col-sm-6,
#new .row:nth-of-type(2) .col-sm-6
{
  float: left !important;  
}

#slider{
  padding: 40px; 
  text-align: center; 

}

#slider h1 {
  font-size: 36px; /* 글자 크기 */
  color: #333; /* 글자 색 */
  font-weight: bold; /* 글자 굵기 */
  margin-bottom: 20px; /* 하단 여백 */
}

#better{
  width:100%;
  height: 768px;
  background-image: url("../img/pc_title02.jpg");
  background-size: cover;
  clear: both;
}

footer {
  background-color: #f2f2f2;
  position: relative;
  padding: 20px;
}

.footer_logo {
  position: absolute; /* 화면에 고정 */
  top: 10px;    /* 상단에 배치 */
  right: 50px;       /* 화면의 우측에 배치 */
   width: 200px;    /* 로고의 크기 설정 */
}

@media screen and (max-width:575px) {

  #collapsibleNavbar{
    padding : 50px !important;
    background: white;    
  }
  #collapsibleNavbar a{
    color:black;
  }
  #collapsibleNavbar li:nth-child(2){
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
  }
  #main{
    background-image: url("../img/mobile_title.jpg");
  }

  #main h1{
    top:130px;
  }

  #main h1 div:nth-child(1){
    font-size: 50px;
  }

  #partner{    
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  #partner .col-sm-4{
    box-sizing: border-box;
    padding-top: 50px;
  }
  .footer_logo{
    position: relative; /* 화면에 고정 */
      bottom: 10px;    /* 하단에 배치 */
      left: 120px;       
      width: 200px;   
      
    }
}